body {
	background: #444444;
	color: #fff;
	font-family: 'Georgia' serif;
	font-size: 18px;
}

h1 {
	font-family: 'Georgia' serif;
	font-size: 36px;
	font-style: italic;
	margin: 60px;
	text-align: center;

}

h2 { 
	font-weight: bold;
	font-size: 26px;
	font-family: 'Arial' sans-serif;
}

a {
	color: #15cb97;
}

img {
	border: 2px solid #777777;
	float: right;
	margin: 15px;
	padding: 5px;
}

hr {
	border: 1px solid #777777;
	width: 90%;

}

footer {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Arial' sans-serif;
	margin: 40px auto;
}

.nav {
	font-weight: bold;
	font-size: 18px;
	font-family: 'Arial' sans-serif;
	margin-bottom: 40px;
	text-align: center;

}

.content {
	border: 4px solid #777777;
	margin: 40px auto;
	width: 90%;
}




.about {
	margin: 40px auto;
	text-align: left;
	width: 90%;
}